/* styles for all */

#INDEXcontainer {
	width: 632px;
	font: 99% Arial, Verdana, sans-serif;
}

#INDEXbody {
  padding:16px 9px 16px 15px;
}

#INDEXcolumn {
	float: left;
	width: 200px;
	padding-left: 11px;
}

#header {
	margin-bottom: 1px;
	width: 608px;
}

#header h1 {margin:0;padding:0;font-size:40px;font-family:Georgia,sans-serif;font-weight:700;}

#header p.schoolYear {color:#666;margin:0;padding:0;font-size:18px;font-family:Arial,sans-serif;font-weight:700;line-height:18px;}

td {text-align:right;}
td.tdLEFT {text-align:left;}
td.tdCENT {text-align:center;}

/* styles for search boxes */

#searchBOX {
	position:relative;
	z-index:1;
	width: 586px;
	background:#f9f9f9;
	padding: 10px;
	border: 1px solid #efefef;
	border-top: 1px dotted #efefef;
	border-bottom: 0;
	-moz-box-shadow: 0px 12px 10px -8px rgba(0, 0, 0, .3);
	-webkit-box-shadow:  0px 12px 10px -8px rgba(0, 0, 0, .3);
    box-shadow:  0px 12px 10px -8px rgba(0, 0, 0, .3);
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#searchLIST {
	float: left;
	width: 150px;
	position:absolute;
	top:10px;left:8px;
	z-index:5;
}

#searchLIST .active {background:#e6ebef;border:1px solid #cfdae3;border-right:1px solid #e6ebef;width:142px;color:#000;cursor:default;}

.searchOPTIONS { 
  font-size: 15px;
  margin-top: -3px;
  margin-bottom: 9px;
  padding:0 5px 0 2px;
}

#schoolSHOW {}
#distSHOW, #citySHOW {}
#suburbs {}

.searchBUTTON {
	width:134px;
	font-size: 14px;
	line-height:15px;
	background: #efefef;
	margin-top:4px;
	text-align:center;
	cursor:pointer;
	padding:5px;
	border:1px solid #fff;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, .1);
	-webkit-box-shadow:  0px 3px 3px -2px rgba(0, 0, 0, .1);
    box-shadow:  0px 3px 3px -2px rgba(0, 0, 0, .1);
}

.searchBUTTON:hover { 
	background-color: #014778;color:#fff;
}

#schoolFIND {
  float: right;
  border:1px solid #cfdae3;
  width: 404px;
  height: 188px;
  background-color: #e6ebef;
  padding:15px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-box-shadow: 0px 0px 3px 3px rgba(156, 156, 156, .1);
	-webkit-box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
    box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
}

#districtFIND {
  float: right;
  border:1px solid #cfdae3;
  width: 404px;
  height: 188px;
  background-color: #e6ebef;
  padding:15px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-box-shadow: 0px 0px 3px 3px rgba(156, 156, 156, .1);
	-webkit-box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
    box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
}

#cityFIND {
  float: right;
  border:1px solid #cfdae3;
  width: 404px;
  height: 188px;
  background-color: #e6ebef;
  padding:15px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-box-shadow: 0px 0px 3px 3px rgba(156, 156, 156, .1);
	-webkit-box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
    box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
}

#findALL {
  float: right;
  border:1px solid #cfdae3;
  width: 404px;
  height: 188px;
  background-color: #e6ebef;
  padding:15px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-box-shadow: 0px 0px 3px 3px rgba(156, 156, 156, .1);
	-webkit-box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
    box-shadow:  0px 0px 3px 3px rgba(156, 156, 156, .1);
}

.cityBox {
  float: left;
  width: 176px;
  padding-right: 7px;
  padding-top: 5px;
  border-right: 1px solid #cfdae3;
}

.countyBox {
  float: left;
  width: 202px;
  padding-left: 15px;
  padding-top: 5px;
  }

#school, #schools2, #school-name, #district, #district2, #district-name {
width: 400px;
}



/* styles for page elements */

#reportcardheading {
  width: 586px;
  margin-top:16px;
  border:1px dotted #d0e0e7;
  border-bottom:0;
  padding:16px 10px 10px 10px;
}

#schoolinfo {
  float: left;
	width: 284px; 
}

#schoolinfo h2 {
  color:#990000;
  font-weight:bold;
  font-size:29px;line-height:30px;
}

#schoolmap {
  float: right;
   width: 292px;
   height: 300px;
   margin: 2px 0 0 10px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#chartList, #AYPcharts {
  width: 586px;
  padding: 20px 10px;
  background: #fff;
  border-left:1px dotted #d0e0e7;
  border-right:1px dotted #d0e0e7;
}

#ISATcharts, #ISATcounts, #PSAEcharts, #PSAEcounts, #ACTcharts, #ACTcounts, .aypTabs {
  width: 564px;
  background-color: #FFF;
  border:1px solid #ccc;
  border-top:0;
  padding-bottom: 3px;
}


#scores {
  width: 586px;
  padding: 20px 10px;
  background: #fff;
  border-left:1px dotted #d0e0e7;
  border-right:1px dotted #d0e0e7;
}

#moreTabs-3, #moreTabs-4, #moreTabs-5, #moreTabs-6, #moreTabs-7, #moreTabs-8, #moreTabs-11 {
  width: 564px;
  background-color: #FFF;
  border:1px solid #ccc;
  border-top:0;
  padding-bottom:10px;
}

#classsize, #growth, #cready, #footnotes {
  width: 586px;
  padding: 20px 10px;
  background: #fff;
  border-left:1px dotted #d0e0e7;
  border-right:1px dotted #d0e0e7;
}

.cSize-head, .cSize-3, .cSize-4, .cSize-5, .cSize-6, .cSize-7, .cSize-8, .cSize-11 {
}

#demgroup {
  width: 586px;
  padding: 20px 10px;
  border-left:1px dotted #d0e0e7;
  border-right:1px dotted #d0e0e7;
}

#demoStu, #demoTeach {
  width:584px;
  border:1px solid #ccc;
  border-top:0;
  padding:0;
  margin:0;
}

#DEMchartSCH, #DEMchartDIST, #DEMteachDIST, #DEMteachSTATE {
  float: left;
  width: 50%;
}

#demographicsStu, #demographicsTeach, #attend {
	clear:both;
	background-color: #FFF;
	width:575px;
	padding:10px 4px;
}


#financials {
  width: 586px;
  padding: 20px 10px;
  background: #fff;
  border-left:1px dotted #d0e0e7;
  border-right:1px dotted #d0e0e7;
}

#salary, #funding {
	width: 100%;
}

#funding h5 {border-bottom:3px solid #999;}

#fundDIST {
  float: left;
  width: 285px;
  padding-right: 4px;
  border-right: 1px solid #666;
	margin-bottom: 10px;
	margin-top: 5px;
}

#fundSTATE {
  float: left;
  width: 290px;
	margin-bottom: 10px;
	margin-top: 5px;
}

#budget {
  float: center;
	width: 595px;
}

#creditBox {
	background-color: #dedede;
	padding: 10px;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
	-moz-box-shadow: 0px 12px 10px -8px rgba(0, 0, 0, .3);
	-webkit-box-shadow:  0px 12px 10px -8px rgba(0, 0, 0, .3);
    box-shadow:  0px 12px 10px -8px rgba(0, 0, 0, .3);
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.ui-autocomplete {
max-height: 100px;
max-width: 400px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/


/* styles for loading gfx */

#loaded {
  float: left;
  width: 600px;
  heigh: 28px;
  text-align:center
}

/* styles for top 100 lists */

#listSCHOOLS {
  width: 586px;
  padding: 20px 10px;
  border-left:1px dotted #d0e0e7;
  border-right:1px dotted #d0e0e7;
}

table#tableSCHOOLS {width:100%;font-size:15px;}
table#tableSCHOOLS th {vertical-align:middle;}

div#schoolsText {padding:0 0 8px 0;font-size:13px;}
div#schoolsText h3 {font-size:15px;font-weight:bold;}

#topLists, #message, #note {
	padding:5px;
	text-align:center;
  }

/*  #topLists {background:#555;margin:5px 0;color:#666;} */
#topLists {background:#555;color:#bfbfbf;margin:5px 0;font-weight:700;}
#topLists a {color:#eee;margin:0 12px;font-weight:700;border-bottom:1px dotted #777;}
#topLists a:hover {color:#fffad0;border-bottom:1px solid #777;}
#topLists span {color:#eee;font-weight:700;margin:0 8px;}

#jump {
	clear:both;
	background:#f9f9f9;
	width: 100%;
	text-align:center;
	margin:16px 0 0 0;
	padding: 8px 0;
	border-top:16px solid #fff;
	font-size:14px;
	font-weight:bold;
}

#return1, #return2, #return3 {
	clear:both;
	background:#f9f9f9;
	width: 606px;
	text-align:center;
	margin:0;
	padding: 8px 0;
	font-size:14px;
	font-weight:bold;
	border-left: 1px dotted #d0e0e7;
	border-right: 1px dotted #d0e0e7;
}

.noteTEXT { 
  font-size: 15px;
}
  
.top100 {margin:16px 0 0 0;}
.top100 img {display:block;padding:3px;border:1px dotted #eee;margin:10px 0 0 0;}
.top100 table {width:585px;font-size:16px;}
.top100 table tr {}
.top100 table tr:nth-child(even) {background:#efefef;}
.top100 table tr td {vertical-align: middle;padding:5px;border-bottom:1px solid #eee;border-top:1px solid #eee;}
.top100 table tr:nth-child(even) td {border-top:1px solid #fff;border-bottom:1px solid #fff;border-right:1px dotted #fff;}
.top100 table tr th {vertical-align: middle;text-align:center;font-size:16px;font-weight:bold;background:#444;color:#fff;line-height:17px;padding:8px;border-right:1px dotted #555;}
.top100 table tr th:last-child {border:0;}
.top100 table tr td:last-child {text-align:center;border-right:0;}

/* styles for text elements */

p { 
  font-size: 1em; 
}

.pfooter { 
  font-size: .75em; 
}

h1 { 
  font-size: 2em; 
  margin-bottom: 0; 
}

h2 { 
  font-size: 1.5em; 
  margin-bottom: .5em; 
}

h3, h4 { 
  font-size: 1.2em; 
  margin-bottom: .5em;
  margin-top: 0px;
  width: 100%;
  font-family:Arial,sans-serif;
  font-weight:bold;
  color:#333333;
} 

h5 { 
  font-size: 1.2em; 
  margin-bottom: 5px;
  margin-top: 25px;
}

h6 { 
  font-size: 1.2em; 
  margin-bottom: .5em;
  width: 400px;
} 

.link {
  margin: 10px;
}

.link h3 {
  font-weight: bold;
}

/* styles for tables */

table {
}

td {
	border-top-style:solid;
	border-color:#ddd;
	border-width:1px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	font-size: 1em;
}

.tdmts {
	border-top-style:solid;
	border-color:#ddd;
	border-width:1px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	font-size: 1em;
	width:70px;
}

.tdalt {
	padding-top:20px;
	padding-bottom:10px;
	padding-left:10;
	padding-right:0;
	font-size: .9em;
	text-align: center;
	width: 145px;
	border-top-style:none;
	border-bottom-style:solid;
	border-color:#ddd;
	border-width:1px;
}

.tr {
	background-color:#FFF;
}

tr:nth-child(even) {background: #efefef;}

.alt {
  background-color: #ccc;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

.hidden {
	display:none;
}

.Ppadding {
	padding: 10px 0;
}

.padding10b {
	padding: 0 0 10px 0;
}

.padding20t {
	padding: 20px 0 0 0;
}

.imgfloatL {
	float:left;
}

.li-position {
	list-style-position:inside;
}

sup {
	font-size: 12px;
	vertical-align:text-top;
}

.notation {
	font-size:14px;
}

.schPUMP {
	font-size:20px;
	}